<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/jcarousel.basic.css">
<link rel="stylesheet" type="text/css" href="css/excerpt.css">

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/jquery.jcarousel.js"></script>
<script type="text/javascript" src="javascript/jcarousel.basic.js"></script>
<title>Carousel Slider</title>
</head>
    <body>
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <hidden_carousel></hidden_carousel>
            </div>
            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            
            <p class="jcarousel-pagination">            

        </div>
        <div>
            <hidden_excerpt></hidden_excerpt>
        </div>        
    </body>
</html>
